* {
    background-color: rgb(55, 54, 54);
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}
#wrap {
    width: 35%;
    margin: 0 auto;
}
.section1 li {
    border: 1px solid rgb(84, 83, 83);
    height: 45px;
}
h3 {
    color: rgb(28, 203, 40);
    font-size: 25px;
    margin: 10px 0;
    margin-bottom: 50px;
}
.section1 li:nth-child(1) {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.section1 li:nth-child(2) {
    border-bottom: none;
}
.section1 li:nth-child(3) {
    border-radius: 0px 0px 10px 10px;
}
.two li:nth-child(3) {
    border-radius: 0px 0px 0px 0px;
    border-bottom: none;
}
.two li:nth-child(4) {
    border-radius: 0px 0px 10px 10px;
}
.icon {
    font-size: 20px;
    color: rgb(84, 83, 83);
}
.section1 li {
    line-height: 45px;
    padding: 0 15px;
}
input[type="text"]{
    border: none;
    width: 68%;
    margin-left: 20px;
    height: 25px;
    font-size: 15px;
}
 input[type="password"]{
    border: none;
    width: 68%;
    margin-left: 20px;
    height: 25px;
    font-size: 15px;
}
input:focus {
    outline: none;
}
.id_right {
    float: right;
    color: rgb(84, 83, 83);
    font-size: 15px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.error2 {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.ra input[type="radio"]{display: none;}
.ra input[type="radio"]+span{
    display: block;
    background: none;
    border: 1px solid rgb(84, 83, 83);
    padding: 0 10px;
    text-align: center;
    width:98px;
    height:30px;
    cursor: pointer;
    line-height: 30px;
    color: rgb(120, 117, 117);
    
}
.ra input[type="radio"]:checked+span{
    border:1px solid green;
    color:green;
}
.ra{
    float: left;
}

.two li:nth-child(3){
display: flex;
justify-content: space-between;
padding:0 15px;
align-items: center;
}
.left label:nth-child(1) input[type="radio"]+span
{border-radius: 10px 0 0px 10px;
border-right: 1px solid  rgb(84, 83, 83);
}
.left label:nth-child(1) input[type="radio"]:checked+span{
border-right:1px solid green;
}
.left label:nth-child(2) input[type="radio"]+span
{border-radius: 0px 10px 10px 0px;
border-left: 0px;
}
.left label:nth-child(2) input[type="radio"]:checked+span{
border-left:1px solid green;
}

.right label:nth-child(1) input[type="radio"]+span
{border-radius: 10px 0 0px 10px;
border-right: 1px solid  rgb(84, 83, 83);
}
.right label:nth-child(1) input[type="radio"]:checked+span{
border-right:1px solid green;
}
.right label:nth-child(2) input[type="radio"]+span
{border-radius: 0px 10px 10px 0px;
border-left: 0px;
}
.right label:nth-child(2) input[type="radio"]:checked+span{
border-left:1px solid green;
}
input[type="submit"]{
width:100%;
border:none;
border-radius: 9px;
background-color: green;
height:40px;
font-size: 20px;
color:white;
margin-top:20px;
font-weight: bold;
cursor: pointer;
}